.header {
  background-color: $primary-opacity;
  padding: 20px 0;
  height: 100vh;
  &__inner {
    display: flex;
    flex-direction: column;
  }
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    margin: auto;
    height: 75vh;
  }
  &__content {
    margin-right: 25px;
  }
  &__title {
    max-width: 500px;
    font-size: 54px;
    color: #1e212c;
    letter-spacing: 1;
    font-weight: 900;
    line-height: 130%;
    text-align: left;
  }
}

// nav

.nav {
  &__list {
    display: flex;
    gap: 35px;
    align-items: center;
    list-style-type: none;
  }
  &__link {
    text-decoration: none;
    color: $black;
    font-size: 23px;
    &::after {
      content: "";
      display: block;
      width: 0%;
      height: 2px;
      background-color: $black;
    }
  }
}

.nav__link:hover::after {
  width: 100%;
  transition: width 0.4s ease-in-out;
}
